
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 200;
	src: url("./NotoSans-Light.ttf") format("truetype");
}

@font-face {
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 200;
	src: url("./NotoSans-LightItalic.ttf") format("truetype");
}

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 300;
	src: url("./NotoSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 300;
	src: url("./NotoSans-Italic.ttf") format("truetype");
}

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	src: url("./NotoSans-Medium.ttf") format("truetype");
}

@font-face {
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 400;
	src: url("./NotoSans-MediumItalic.ttf") format("truetype");
}


.text-normal {
	font-weight: 300;
}

.text-medium {
	font-weight: 400;
}

a {
	font-weight: 300;
}

#logo img {
    width: 70%
}

body[data-url="/build/elastos/"] h1,
body[data-url="/learn/elastos/"] h1,
body[data-url="/resources/apis/elastos/"] h1 {
	text-transform: none;
	font-family: "Noto Sans", "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

#body a.highlight {
	line-height: 1.5 !important;
}

h2 {
	font-size: 2rem;
	font-weight: 300;
}

h3 {
	font-size: 1.8rem;
	font-weight: 300;
	color: #20a8d8;
}

h4 {
	font-size: 1.4rem;
	font-weight: 300;
}

h5 {
	font-size: 1.2rem;
	color: #20a8d8;
	font-weight: 300;
}

.ela-folder:before {
	content: "\f07c";
	width:20px;
	display:inline-block
}

.ela-page:before {
    content: "\f15b";
    width:20px;
    display:inline-block
}

ol > li {
	margin-bottom: 24px;
}

#sidebar ul.topics > li > a {
	color: #292929;
}

blockquote {
	background-color: #f4fcff;
}

blockquote > p {
	color: #222;
}

.tab-button{
	position: relative;
	z-index: 1;
	color:#333;
	border:none;
	outline: none;
	background-color: #e4e4e4;
	padding: 5px 15px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.tab-button.active{
	background-color: #326A90;
	color:white;
}
.tab-content {
	border: solid 1px #DDDDDD;
}
.tab-content .tab-pane{
	display: none;
}
.tab-content .tab-pane.active{
	display: block;
}
.tab-content .tab-pane pre {
	margin:0
}
/* Treatment of copy buttons inside a tab module */
/*.tab-content .copy, .tab-content .copied{
	display: none;
}
.tab-content .tab-pane.active + .copy, .tab-content .tab-pane.active + .copied{
	display: block;
}*/

.menu-shortcut-icon {
	width: 20px;
	text-align:center;
}

#sidebar .menubuttons {
	text-align:center;
	margin-top:50px;
}

#sidebar .menubuttons .menubutton {
	display: block;
	width:170px;
	margin: 20px auto;
	padding:10px;
	color:white;
	border-radius: 24px;
	font-weight: bold;
	transition: all 0.3s ease;
}

#sidebar .menubuttons a.elastosacademy {
	background:#32c2f3;
}
#sidebar .menubuttons a.elastosacademy:hover {
	background:#42d2f3;
}

#sidebar .menubuttons a.elastoshome {
	background:transparent;
	color:#5a5b5b;
	border: solid 2px #5a5b5b;
}
#sidebar .menubuttons a.elastoshome:hover {
	background:#5a5b5b;
	color:white;
}

.invalidpagepatherror {
	color:red;
}


.faqentry {
	margin-bottom:20px;
	border-top: dashed 1px #326A90;
	padding-top:10px;
}

.faqentry .faqquestion {
	font-weight: bold;
	font-size: 20px;
	color:#326A90;
}

.pleasetranslate {
	background: #FAFAFA;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 5px #CCC;
}

.pleasetranslate .title {
	text-align: center;
	font-size: 30px;
	border-bottom: solid 1px #CCC;
}

.pleasetranslate .title .fas {
	color: #326A90;
}

.pleasetranslate .subtitle {
	margin-bottom: 10px;
	color: #777;
	font-size: 14px;
	text-align: center;
}

.fixme {
	background: #CE0100;
	color: white;
	padding: 5px;
	border-radius: 10px;
	margin-top:10px;
	margin-bottom:10px;
}

.fixme .fix {
	font-weight: bold;
	margin-right: 10px;
	font-size: 18px;
}

.checkme {
	background: #e89a00;
	color: white;
	padding: 5px;
	border-radius: 10px;
	margin-top:10px;
	margin-bottom:10px;
}

.checkme .check {
	font-weight: bold;
	margin-right: 10px;
	font-size: 18px;
}

.ownership {
	background: #326A90;
	text-align: center;
	padding:5px;
	color: white;
	box-shadow: 4px 4px 5px #CCC;
	border-radius: 5px;
}

.ownership p {
	line-height: 1em;
}

.ownership .header {
	font-size: 12px;
	border-bottom: dashed 1px white;
	padding-bottom: 15px;
}

.ownership .owner {
	font-weight: bold;
	font-size: 18px;
}

/* API Reference */
.apititle, .jsonapireference h4 {
	display:block !important;
	background:#326A90;
	border-top: solid 4px #528AAF;
	border-bottom: solid 4px #528AAF;
	font-size:20px;
	padding:20px;
	margin-top:60px;
	margin-bottom:10px;
    text-align: center;
    color: #FFF;
	font-weight: bold;

}

.apititle:hover {
	animation: none;
	text-decoration: none !important;
}

.apidescription {
	margin-top:20px;
	font-size: 20px
}

.apiheader {
	font-weight:bold;
	text-transform: uppercase;
	margin-top:20px;
	margin-bottom:10px;
	border-bottom: dashed 1px #EEE;
}

.apiparams, .apireturns {
	margin: 20px 20px;
}

/* API reference for data coming from JSON data files (generated by sphinx) */
.jsonapireference .section {
	opacity: 1;
}

.jsonapireference h1 {
	display:none; /* Hide the main title to prevent duplicate with hugo's page title */
}

.jsonapireference .breatheparameterlist {
	padding-left:0;
	margin-top:0;
	margin-bottom:0;
}

.jsonapireference .breatheparameterlist li {
	display:table;
}

.jsonapireference a.headerlink {
	display:none !important; /* Remove anchors from every header's end */
}

.jsonapireference dl.docutils dt {
	margin-top:10px;
}

.jsonapireference dl.function>dd {
	margin-left:0;
	font-size: 20px
}

.jsonapireference dl.function>dt {
	margin-bottom:20px;
}

.jsonapireference dl.function dd dl.docutils {
	font-size:1.05rem;
	margin-top:30px;
}

.jsonapireference .copy-to-clipboard {
	display:none;
}

.jsonapireference code.descname, .jsonapireference code.docutils {
	/* Remove default yellow background for <code> and fix style */
	background:none;
	border:0;
	font-weight:bold;
	font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	vertical-align: top;
	font-size:1rem;
}

.module-status {
	margin-bottom:20px;
	font-size:14px;
}

.module-status .module-title {
	font-size: 20px;
	color: #01B4EF;
	font-weight:700;
}

.module-status .root-table {
	border: none;
}

.module-status .root-td {
	border: none;
	padding: 0;
}

.module-status .group {
	margin-bottom:10px;
}

.module-status .group .title {
	font-size:12px;
	margin-top:20px;
	text-transform: uppercase;
	color:#999;
}

.module-status ul {
	margin-top:0;
	margin-bottom:0;
}

.hero .hero-item {
	margin: 12px 0;
}

.hero .hero-item.shadow > .col-inner {
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	outline: none;
	box-sizing: inherit;
	color: #242A31;
	border: 1px solid #E6ECF1;
	position: relative;
	grid-area: next;
	align-self: stretch;
	box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
	align-items: center;
	justify-self: stretch;
	border-radius: 3px;
	flex-direction: row;
	text-decoration: none;
	background-color: #FFFFFF;
	-webkit-box-align: center;
	page-break-inside: avoid;
	-webkit-box-orient: horizontal;
	-webkit-transition: border 250ms ease;
	-webkit-box-direction: normal;

	height: 100%;
	padding: 18px 12px;

	cursor: pointer;

	line-height: 1.4;
}

.hero .hero-item.no-pad {
	padding: 0;
}

.hero .hero-item.no-pad figure {
	margin: 0;
}

.hero .hero-item:hover {
	transition-property: border-color;
	transition-duration: 0.5s;
	border-color: rgb(33, 49, 61);
}

.hero .hero-item ul {
	margin: 12px 0;
}

.bg-img-item {
	user-select: none;
	box-sizing: border-box;
	flex: 1;
	background-size: cover;
	border-radius: 8px;
	display: inline-block;
	height: 108px;
	width: 175px;
	cursor: pointer;
	background-position: center;
	text-decoration: none;
}

#body .img-inline img {
	display: inline-block;
	margin: 0;
}

@media only all and (max-width: 768px) {
	.hero .hero-item .hero-arrow {
		display: none;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.3rem;
	}

	h4 {
		font-size: 1.2rem;
	}

	h5 {
		font-size: 1.2rem;
	}
}


