
#logo img {
    width: 70%
}

#body a.highlight {
	line-height: 1.5 !important;
}

.ela-folder:before {
	content: "\f07c";
	width:20px;
	display:inline-block
}

.ela-page:before {
    content: "\f15b";
    width:20px;
    display:inline-block
}

.tab-button{
	position: relative;
	z-index: 1;
	color:#333;
	border:none;
	outline: none;
	background-color: #e4e4e4;
	padding: 5px 15px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.tab-button.active{
	background-color: #326A90;
	color:white;
}
.tab-content {
	border: solid 1px #DDDDDD;
}
.tab-content .tab-pane{
	display: none;
}
.tab-content .tab-pane.active{
	display: block;
}
.tab-content .tab-pane pre {
	margin:0
}
/* Treatment of copy buttons inside a tab module */ 
/*.tab-content .copy, .tab-content .copied{
	display: none;
}
.tab-content .tab-pane.active + .copy, .tab-content .tab-pane.active + .copied{
	display: block;
}*/

.menu-shortcut-icon {
	width: 20px;
	text-align:center;
}

.invalidpagepatherror {
	color:red;
}



.faqentry {
	margin-bottom:20px;
	border-top: dashed 1px #326A90;
	padding-top:10px;
}

.faqentry .faqquestion {
	font-weight: bold;
	font-size: 20px;
	color:#326A90;
}

.pleasetranslate {
	background: #FAFAFA;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 5px #CCC;
}

.pleasetranslate .title {
	text-align: center;
	font-size: 30px;
	border-bottom: solid 1px #CCC;
}

.pleasetranslate .title .fas {
	color: #326A90;
}

.pleasetranslate .subtitle {
	margin-bottom: 10px;
	color: #777;
	font-size: 14px;
	text-align: center;
}

.fixme {
	background: #CE0100;
	color: white;
	padding: 5px;
	border-radius: 10px;
	margin-top:10px;
	margin-bottom:10px;
}

.fixme .fix {
	font-weight: bold;
	margin-right: 10px;
	font-size: 18px;
}

.checkme {
	background: #e89a00;
	color: white;
	padding: 5px;
	border-radius: 10px;
	margin-top:10px;
	margin-bottom:10px;
}

.checkme .check {
	font-weight: bold;
	margin-right: 10px;
	font-size: 18px;
}

.ownership {
	background: #326A90;
	text-align: center;
	padding:5px;
	color: white;
	box-shadow: 4px 4px 5px #CCC;
	border-radius: 5px;
}

.ownership p {
	line-height: 1em;
}

.ownership .header {
	font-size: 12px;
	border-bottom: dashed 1px white;
	padding-bottom: 15px;
}

.ownership .owner {
	font-weight: bold;
	font-size: 18px;
}

/* API Reference */
.apititle, .jsonapireference h4 {
	display:block !important;
	background:#326A90;
	border-top: solid 4px #528AAF;
	border-bottom: solid 4px #528AAF;
	font-size:20px;
	padding:20px;
	margin-top:60px;
	margin-bottom:10px;
    text-align: center;
    color: #FFF;
	font-weight: bold;
	
}

.apititle:hover {
	animation: none;
	text-decoration: none !important;
}

.apidescription {
	margin-top:20px;	
	font-size: 20px
}

.apiheader {
	font-weight:bold;
	text-transform: uppercase;
	margin-top:20px;
	margin-bottom:10px;
	border-bottom: dashed 1px #EEE;
}

.apiparams, .apireturns {
	margin: 20px 20px;
}

/* API reference for data coming from JSON data files (generated by sphinx) */
.jsonapireference .section {
	opacity: 1;
}

.jsonapireference h1 {
	display:none; /* Hide the main title to prevent duplicate with hugo's page title */
}

.jsonapireference .breatheparameterlist {
	padding-left:0;
	margin-top:0;
	margin-bottom:0;
}

.jsonapireference .breatheparameterlist li {
	display:table;
}

.jsonapireference a.headerlink {
	display:none !important; /* Remove anchors from every header's end */
}

.jsonapireference dl.docutils dt {
	margin-top:10px;
}

.jsonapireference dl.function>dd {
	margin-left:0;
	font-size: 20px
}

.jsonapireference dl.function>dt {
	margin-bottom:20px;
}

.jsonapireference dl.function dd dl.docutils {
	font-size:1.05rem;
	margin-top:30px;
}

.jsonapireference .copy-to-clipboard {
	display:none;
}

.jsonapireference code.descname, .jsonapireference code.docutils {
	/* Remove default yellow background for <code> and fix style */
	background:none;
	border:0;
	font-weight:bold;
	font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	vertical-align: top;
	font-size:1rem;
}