{{ $usePlatforms := .useplatforms }}

<div class="module-status">
    <span class="module-title">{{ .name }}</span> {{ if .lastupdated }}(last updated: <b>{{ .lastupdated }}</b>){{ end }}
    <table class="root-table">
        <tr>
            <td class="root-td">
                {{ if .notes }}
                    <div class="group">
                        <div class="title">Notes</div>
                        {{ .notes }}
                    </div>
                {{ end }}
                {{ if .releases.current }}
                <div class="group">
                    <div class="title">Delivered / Current releases</div>
                    <table>
                        <tr>
                            {{ if $usePlatforms }}
                                <th>Platform</th>
                            {{ end }}
                            <th>Version</th>	
                            <th>Release date</th>	
                            <th>Quality</th>
                            <th>New features</th>
                        </tr>
                        {{ range .releases.current }}
                            <tr>
                                {{ if $usePlatforms }}
                                    <td>{{ .platform }}</td>
                                {{ end }}
                                <td>{{ .version }}</td>
                                <td>{{ .date }}</td>
                                <td>{{ .quality }}</td>
                                <td>
                                    <ul>
                                        {{ range .newfeatures }}
                                            <li>{{ . }}</li>
                                        {{ end }}
                                    </ul>
                                </td>
                            </tr>
                        {{ end }}
                    </table>
                </div>
                {{ end }}
                <div class="group">
                    <div class="title">Incoming releases</div>
                    <table>
                        <tr>
                            {{ if $usePlatforms }}
                                <th>Platform</th>
                            {{ end }}
                            <th>Release date</th>	
                            <th>Quality</th>
                            <th>Expected content</th>
                        </tr>
                        {{ range .releases.next }}
                            <tr>
                                {{ if $usePlatforms }}
                                    <td>{{ .platform }}</td>
                                {{ end }}
                                <td>{{ .date }}</td>	
                                <td>{{ .quality }}</td>
                                <td> 
                                    <ul>
                                        {{ range .content }}
                                            <li>{{ . }}</li>
                                        {{ end }}
                                    </ul>
                                </td>
                            </tr>
                        {{ end }}
                    </table>
                </div>
                {{ if .releases.previous }}
                <div class="group">
                    <div class="title">Previous releases</div>
                    <table>
                        <tr>
                            {{ if $usePlatforms }}
                                <th>Platform</th>
                            {{ end }}
                            <th>Version</th>	
                            <th>Release date</th>	
                            <th>Quality</th>
                            <th>New features</th>
                        </tr>
                        {{ range .releases.previous }}
                            <tr>
                                {{ if $usePlatforms }}
                                    <td>{{ .platform }}</td>
                                {{ end }}
                                <td>{{ .version }}</td>
                                <td>{{ .date }}</td>
                                <td>{{ .quality }}</td>
                                <td>
                                    <ul>
                                        {{ range .newfeatures }}
                                            <li>{{ . }}</li>
                                        {{ end }}
                                    </ul>
                                </td>
                            </tr>
                        {{ end }}
                    </table>
                </div>
                {{ end }}
                {{ if .otherfeatures }}
                <div class="group">
                    <div class="title">Other on going features</div>
                    <ul>
                        {{ range .otherfeatures }}
                            <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </div>
                {{ end }}
            </td>
        </tr>
    </table>
</div>