
{{ $scratch := newScratch }}

{{ $scratch.Set "css" "hero-item" }}

{{ if not .Params.noshadow }}
  {{ $scratch.Add "css" " shadow" }}
{{ end }}

{{ if .Params.nopad }}
  {{ $scratch.Add "css" " no-pad" }}
{{ end }}

{{/* We're using lg breakpoint 1024px, however the menu hides at 768px */}}
{{ if .Params.colspan }}
  {{ if eq .Params.colspan "3" }}
    {{ $scratch.Add "css" " col-lg-3" }}
  {{ end }}
  {{ if eq .Params.colspan "4" }}
    {{ $scratch.Add "css" " col-lg-4" }}
  {{ end }}
  {{ if eq .Params.colspan "6" }}
    {{ $scratch.Add "css" " col-lg-6" }}
  {{ end }}
{{ else }}
  {{ $scratch.Add "css" " col" }}
{{ end }}

{{ if .Params.link }}
  {{ if .Params.linkBlank }}
    <div class='{{ $scratch.Get "css" }}' onclick="javascript:window.open('{{ .Get "link" }}')">
  {{ else }}
    <div class='{{ $scratch.Get "css" }}' onclick="javascript:window.location.href='{{ .Get "link" }}'">
  {{ end }}
{{ else }}
  <div class='{{ $scratch.Get "css" }}'>
{{ end }}

  <div class="col-inner">
    {{if .Params.rightArrow }}
      <svg
          class="hero-arrow"
          preserveAspectRatio="xMidYMid meet"
          height="3em"
          width="3em"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke="#20a8d8"
          style="float: right;"
      >
        <g>
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline>
        </g>
      </svg>
    {{end}}
    {{if .Params.leftArrow }}
      <svg
          class="hero-arrow"
          preserveAspectRatio="xMidYMid meet"
          height="3em"
          width="3em"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke="#20a8d8"
          style="float: left;"
      >
        <g>
          <line x1="19" y1="12" x2="5" y2="12"></line>
          <polyline points="12 19 5 12 12 5"></polyline>
        </g>
      </svg>
    {{end}}
    <h3 style="margin-top: 0; {{if .Params.leftArrow }}text-align: right;{{end}}">{{ .Get "title" }}</h3>
    <p style="{{if .Params.leftArrow }}text-align: right;{{end}} {{if .Params.center }}text-align: center;{{end}}">
      {{ .Inner }}
    </p>
  </div>
</div>
